<div *ngIf="post$ | async as posts; else loading">

<div class="post">
  <div class="header">
    <h1>{{posts.title}}</h1>
    <button [routerLink]="['/']" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>{{posts.author}}</strong>
    <small>{{posts.date | date:'short': '': 'ru'}}</small>
  </div>
  <div>
    <quill-view-html [content]="posts.text"></quill-view-html>
  </div>

</div>
</div>
<ng-template #loading >
  <ngx-skeleton-loader
    [theme]="{
      height: '600px',
    }"
  ></ngx-skeleton-loader>
</ng-template>

